.container {
  background-color: #fff;
}

.header {
  background-color: #f9f9fb;
  padding: 50px 24px 30px 24px;
}

.headerTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 27px;
}

.headerTopLeft {

}

.headerTopRight {

}

.menuButton {
  width: 18px;
  height: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menuLine {
  height: 2px;
  background-color: #fb9400;
}

.headerTitle {
  font-size: 24px;
  font-weight: 500;
  color: #1b1b1b;
  margin-bottom: 8px;
}

.headerSubtitle {
  font-size: 16px;
  font-weight: 400;
  color: rgba(151, 151, 151, 0.8);
}

.headerBottom {

}